assets/device-proxy-flow.json
[{"id":"c5ae77385e681c65","type":"tab","label":"Device Proxy","disabled":false,"info":"","env":[]},{"id":"401591de16f62065","type":"api-call-service","z":"c5ae77385e681c65","name":"Execute HA Action","server":"cce10e07.f941d","version":7,"debugenabled":false,"action":"","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"","service":"","x":930,"y":160,"wires":[[]]},{"id":"1402e6c75f1556d4","type":"http in","z":"c5ae77385e681c65","name":"","url":"/device-proxy/akuvox","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":160,"y":140,"wires":[["b75352f7fea9fb4f","9a205e02babe3a84"]]},{"id":"63fda40c47dafd94","type":"function","z":"c5ae77385e681c65","name":"","func":"const model = msg.payload.model;\nconst entity = msg.payload.entity;\nconst state = msg.payload.state;\nconst macAddr = msg.payload.mac.toLowerCase().replace(/[:-]/g, \"\");\n\nconst turn_on_command = \"homeassistant.turn_on\";\nconst turn_off_command = \"homeassistant.turn_off\";\n\nlet entity_id;\nlet action;\n\nentity_id = \"input_boolean.\" + model + \"_\" + macAddr + \"_\" + entity;\naction = (state == 1) ? (turn_on_command) : (turn_off_command);\n\nif (action == null || action == \"\" || entity_id == null || entity_id == \"\") return;\n\nmsg.payload = {\n    \"action\": action,\n    \"target\": {\n        \"entity_id\": [entity_id],\n    }\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":140,"wires":[["401591de16f62065","acc8dcbc9ef6eb5e"]]},{"id":"071eda3ad8401a37","type":"http response","z":"c5ae77385e681c65","name":"200 OK","statusCode":"200","headers":{},"x":680,"y":100,"wires":[]},{"id":"b75352f7fea9fb4f","type":"debug","z":"c5ae77385e681c65","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":40,"wires":[]},{"id":"acc8dcbc9ef6eb5e","type":"debug","z":"c5ae77385e681c65","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":120,"wires":[]},{"id":"9a205e02babe3a84","type":"switch","z":"c5ae77385e681c65","name":"Validate MAC Addr","property":"payload.mac","propertyType":"msg","rules":[{"t":"eq","v":"0C:11:05:28:F6:82","vt":"str"},{"t":"eq","v":"0C:11:05:1D:60:E5","vt":"str"},{"t":"eq","v":"0C:11:05:26:8D:E8","vt":"str"},{"t":"eq","v":"0C:11:05:34:ED:7C","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":450,"y":140,"wires":[["071eda3ad8401a37","63fda40c47dafd94"],["63fda40c47dafd94","071eda3ad8401a37"],["63fda40c47dafd94","071eda3ad8401a37"],["071eda3ad8401a37","63fda40c47dafd94"],["14f1c5d3b8ee977e"]]},{"id":"14f1c5d3b8ee977e","type":"http response","z":"c5ae77385e681c65","name":"401 Unauthorized","statusCode":"401","headers":{},"x":450,"y":220,"wires":[]},{"id":"cce10e07.f941d","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"1c129da872fdeeb3","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]