assets/turziapp-connector-noderedflow.json
[{"id":"7a9beae61d1b4708","type":"tab","label":"turzi App","disabled":false,"info":"","env":[]},{"id":"ee14d5ab45b64f94","type":"mqtt out","z":"7a9beae61d1b4708","name":"","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1b7bd266fe832562","x":870,"y":580,"wires":[]},{"id":"e171eaba9776b354","type":"function","z":"7a9beae61d1b4708","name":"State Update payload","func":"const house_id = env.get(\"house_id\");\nconst filterMode = env.get(\"entity_filter_mode\"); // entity|domain|both\nconst allowedDomains = env.get(\"allowed_entity_domains\");\nconst allowedEntities = env.get(\"allowed_entity_ids\");\n\n// Extract the full entity_id\nconst entityId = msg.payload.entity_id;\n\n// Extract the domain from the entity_id (everything before the dot)\nconst domain = entityId.split('.')[0];\n\n// Apply filtering based on mode\nif (filterMode === \"domain\") {\n    // Allow any entity from allowed domains\n    if (!allowedDomains.includes(domain)) {\n        return null; // Drop message\n    }\n} else if (filterMode === \"entity\") {\n    // Allow only explicitly listed entities\n    if (!allowedEntities.includes(entityId)) {\n        return null; // Drop message\n    }\n} else if (filterMode === \"both\") {\n    if (!allowedEntities.includes(entityId) && !allowedDomains.includes(domain)) {\n        return null; // Drop message\n    }\n}\n\n// Initialize attributes based on domain\nlet attributes = null;\nswitch (domain) {\n    case \"cover\":\n        attributes = {\n            \"current_position\": msg.payload.event.new_state.attributes.current_position\n        };\n        break;\n    case \"climate\":\n        var targetTemperature = msg.payload.event.new_state.attributes.temperature;\n        if (targetTemperature == undefined || targetTemperature == null || targetTemperature == \"\") {\n            targetTemperature = msg.payload.event.old_state.attributes.temperature;\n\n            if (targetTemperature == undefined || targetTemperature == null || targetTemperature == \"\") {\n                targetTemperature = msg.payload.event.new_state.attributes.prev_target_temp;\n            }\n        }\n        attributes = {\n            \"target_temperature\": targetTemperature,\n            \"current_temperature\": msg.payload.event.new_state.attributes.current_temperature,\n            \"hvac_action\": msg.payload.event.new_state.attributes.hvac_action,\n            \"fan_mode\": msg.payload.event.new_state.attributes.fan_mode\n        };\n        break;\n    case \"alarm_control_panel\":\n        attributes = {\n            \"open_sensors\": msg.payload.event.new_state.attributes.open_sensors,\n            \"delay\": msg.payload.event.new_state.attributes.delay\n        };\n        break;\n}\n\n// Build MQTT topic\nmsg.topic = \"house/\" + house_id + \"/state/\" + domain + \"/\" + entityId.split('.')[1];\nmsg.payload = {\n    state: msg.payload.event.new_state.state,\n    last_changed: msg.payload.event.new_state.last_changed,\n    timestamp: Math.floor(Date.now() / 1000) // Unix time in seconds\n};\nmsg.retain = true;\n\n// Add attributes if applicable\nif (attributes && Object.keys(attributes).length > 0) {\n    msg.payload.attributes = attributes;\n}\n\n// Pass the message along\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":580,"wires":[["ee14d5ab45b64f94"]]},{"id":"dd71ab171c0f36e5","type":"server-events","z":"7a9beae61d1b4708","name":"Output on state change","server":"d9794f8a.bdf4a","version":3,"exposeAsEntityConfig":"","eventType":"state_changed","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":640,"wires":[["e171eaba9776b354","64d1b6ad55cb54cd"]]},{"id":"c27ba6e3a1fcf3d8","type":"function","z":"7a9beae61d1b4708","name":"function 1","func":"// Extract timestamp from msg.payload\nlet timestamp = msg.payload;\n\n// Convert to Date object\nlet dateObj = new Date(timestamp);\n\n// Define days of the week and months in Spanish\nconst days = [\"Domingo\", \"Lunes\", \"Martes\", \"Miércoles\", \"Jueves\", \"Viernes\", \"Sábado\"];\nconst months = [\n    \"Enero\", \"Febrero\", \"Marzo\", \"Abril\", \"Mayo\", \"Junio\",\n    \"Julio\", \"Agosto\", \"Setiembre\", \"Octubre\", \"Noviembre\", \"Diciembre\"\n];\n\n// Extract day of the week and month name\nlet dayOfWeek = days[dateObj.getDay()];\nlet dayOfMonth = dateObj.getDate();\nlet monthName = months[dateObj.getMonth()];\n\n// Format date as \"Lunes, 14 de Marzo\"\nlet dateStr = `${dayOfWeek}, ${dayOfMonth} de ${monthName}`;\n\n// Extract hours and minutes (keep hours as a number for comparisons)\nlet hours = dateObj.getHours(); // Keep as number\nlet minutes = dateObj.getMinutes();\n\n// Format time as HH:mm (adding leading zeros)\nlet timeStr = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;\n\n// Determine greeting based on hour\nlet greeting;\nif (hours >= 6 && hours < 12) {\n    greeting = \"Buenos Días\"; // 6:00 - 11:59\n} else if (hours >= 12 && hours < 20) {\n    greeting = \"Buenas Tardes\"; // 12:00 - 19:59\n} else {\n    greeting = \"Buenas Noches\"; // 20:00 - 5:59\n}\n\n// Create new messages for each entity\nlet msgDate = {\n    payload: {\n        entity_id: \"sensor.date_text\",\n        event: {\n            new_state: {\n                state: dateStr\n            }\n        }\n    }\n};\n\nlet msgTime = {\n    payload: {\n        entity_id: \"sensor.time_text\",\n        event: {\n            new_state: {\n                state: timeStr\n            }\n        }\n    }\n};\n\nlet msgGreeting = {\n    payload: {\n        entity_id: \"sensor.greeting_text\",\n        event: {\n            new_state: {\n                state: greeting\n            }\n        }\n    }\n};\n\n// Return messages to three outputs\nreturn [msgDate, msgTime, msgGreeting];","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":680,"wires":[["e171eaba9776b354"],["e171eaba9776b354"],["e171eaba9776b354"]]},{"id":"3107c9308d9e9320","type":"server-state-changed","z":"7a9beae61d1b4708","name":"Output on minute change","server":"d9794f8a.bdf4a","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.date_time_iso"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":150,"y":680,"wires":[["c27ba6e3a1fcf3d8"]]},{"id":"e166096aaf4a62d1","type":"mqtt in","z":"7a9beae61d1b4708","name":"","topic":"","qos":"0","datatype":"auto-detect","broker":"1b7bd266fe832562","nl":false,"rap":true,"rh":0,"inputs":1,"x":370,"y":100,"wires":[["2ac17c6ad5d876fd"]]},{"id":"a203e351c8fddfb0","type":"comment","z":"7a9beae61d1b4708","name":"ping/pong","info":"","x":100,"y":60,"wires":[]},{"id":"2ac17c6ad5d876fd","type":"function","z":"7a9beae61d1b4708","name":"compose payload","func":"const house_id = env.get(\"house_id\");\n\nmsg.topic = \"house/\" + house_id + \"/app/state/heartbeat\";\nmsg.payload = {\n    state: \"pong\",\n    timestamp: msg.timestamp = new Date().toISOString()\n};\nmsg.retain = false;\nmsg.qos = 1;\n\n// Pass the message along\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":100,"wires":[["61a912edf69d002b"]]},{"id":"61a912edf69d002b","type":"mqtt out","z":"7a9beae61d1b4708","name":"","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1b7bd266fe832562","x":710,"y":100,"wires":[]},{"id":"0c98ee6f9cb49843","type":"comment","z":"7a9beae61d1b4708","name":"send state updates","info":"","x":130,"y":540,"wires":[]},{"id":"517d75e8ba4a764f","type":"inject","z":"7a9beae61d1b4708","name":"Tell app to reload structure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["0c3431e99a06c272"]]},{"id":"15f348ab4cc00cee","type":"mqtt out","z":"7a9beae61d1b4708","name":"","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1b7bd266fe832562","x":590,"y":200,"wires":[]},{"id":"0c3431e99a06c272","type":"function","z":"7a9beae61d1b4708","name":"compose payload","func":"const house_id = env.get(\"house_id\");\n\nmsg.topic = \"house/\" + house_id + \"/app/command/houseStructure\";\nmsg.payload = {\n    command: \"reload\",\n    timestamp: msg.timestamp = new Date().toISOString()\n};\nmsg.retain = false;\nmsg.qos = 2;\n\n// Pass the message along\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[["15f348ab4cc00cee"]]},{"id":"423c7e755de9cf6a","type":"server-state-changed","z":"7a9beae61d1b4708","name":"","server":"d9794f8a.bdf4a","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.app_reload_house_structure"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":240,"wires":[["0c3431e99a06c272"],[]]},{"id":"94a3f4fb71047915","type":"comment","z":"7a9beae61d1b4708","name":"request house structure reload","info":"","x":170,"y":160,"wires":[]},{"id":"e7aacca459ac5194","type":"function","z":"7a9beae61d1b4708","name":"setup mqtt","func":"const house_id = env.get(\"house_id\");\n\nmsg.action = \"subscribe\";\nmsg.topic = \"house/\" + house_id + \"/app/command/heartbeat\";\nmsg.qos = 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":100,"wires":[["e166096aaf4a62d1"]]},{"id":"d254b8a175f30aaf","type":"inject","z":"7a9beae61d1b4708","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":100,"wires":[["e7aacca459ac5194"]]},{"id":"64d1b6ad55cb54cd","type":"debug","z":"7a9beae61d1b4708","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":580,"wires":[]},{"id":"1d405fea58ecc26f","type":"api-call-service","z":"7a9beae61d1b4708","name":"","server":"d9794f8a.bdf4a","version":7,"debugenabled":false,"action":"","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"","service":"","x":930,"y":480,"wires":[[]]},{"id":"f8c981f6ea57b76a","type":"function","z":"7a9beae61d1b4708","name":"Command payload","func":"// Extract the topic components\nconst topicParts = msg.topic.split('/');\nif (topicParts.length < 5 || topicParts[2] !== 'command') {\n    node.error(\"Invalid topic format. Expected format: house/<house_id>/command/<domain>/<entity_id>\", msg);\n    return null;\n}\n\n// Validate payload\nif (!msg.payload || !msg.payload.command) {\n    node.error(\"Invalid payload format. Must include 'command' field.\", msg);\n    return null;\n}\n\nconst userName = msg.payload.metadata.user_name;\nconst userEMail = msg.payload.metadata.user_email;\nconst domain = topicParts[3]; // The <domain> part of the topic\nconst entityId = topicParts[4]; // The <entity_id> part of the topic\nvar command = msg.payload.command; // e.g., \"light.turn_on\", \"light.toggle\"\nvar parameters = msg.payload.parameters || {}; // Optional parameters (e.g., brightness, color, etc.)\n\nvar loggerMsg = {};\n\nif (domain == 'alarm_control_panel') {\n    switch (msg.payload.parameters.alarm_mode) {\n        case \"armed_away\":\n            command = \"alarm_arm_away\";\n            break;\n        case \"armed_custom_bypass\":\n            command = \"alarm_arm_custom_bypass\";\n            break;\n        case \"armed_home\":\n            command = \"alarm_arm_home\";\n            break;\n        case \"armed_night\":\n            command = \"alarm_arm_night\";\n            break;\n        case \"armed_vacation\":\n            command = \"alarm_arm_vacation\";\n            break;\n        case \"disarmed\":\n            command = \"alarm_disarm\";\n            break;\n        case \"triggered\":\n            command = \"alarm_trigger\";\n            break;\n    }\n\n    command = \"alarm_control_panel.\" + command;\n    parameters = null;\n}\n\n// Build the output message\nmsg.payload = {\n    action: command,\n    target: {\n        entity_id: [domain + \".\" + entityId]\n    }\n};\n\nif (parameters && Object.keys(parameters).length > 0) {\n    msg.payload.data = parameters;\n}\n\nloggerMsg.payload = {\n    action: \"logbook.log\",\n    data: {\n        name: entityId,\n        entity_id: domain + \".\" + entityId,\n        message: \"turzi App - \" + userName + \" (\" + command.split('.')[1] + \")\"\n    }\n};\n\n// Pass the constructed message\nreturn [loggerMsg, msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":440,"wires":[["7018d00c11b62b86"],["243a818fbe712325","a043bb45ecff3364"]]},{"id":"c4c6ad71d5ef70d2","type":"comment","z":"7a9beae61d1b4708","name":"process commands","info":"","x":130,"y":400,"wires":[]},{"id":"3ab1874fcd7439ea","type":"mqtt in","z":"7a9beae61d1b4708","name":"","topic":"","qos":"0","datatype":"auto-detect","broker":"1b7bd266fe832562","nl":false,"rap":true,"rh":0,"inputs":1,"x":370,"y":440,"wires":[["f8c981f6ea57b76a"]]},{"id":"a826d90ae5804239","type":"function","z":"7a9beae61d1b4708","name":"setup mqtt","func":"const house_id = env.get(\"house_id\");\n\nmsg.action = \"subscribe\";\nmsg.topic = \"house/\" + house_id + \"/command/#\";\nmsg.qos = 0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":440,"wires":[["3ab1874fcd7439ea"]]},{"id":"afa832df6527e32c","type":"inject","z":"7a9beae61d1b4708","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":440,"wires":[["a826d90ae5804239"]]},{"id":"7018d00c11b62b86","type":"api-call-service","z":"7a9beae61d1b4708","name":"","server":"d9794f8a.bdf4a","version":7,"debugenabled":false,"action":"","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"","service":"","x":770,"y":420,"wires":[[]]},{"id":"243a818fbe712325","type":"delay","z":"7a9beae61d1b4708","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":790,"y":480,"wires":[["1d405fea58ecc26f"]]},{"id":"a043bb45ecff3364","type":"debug","z":"7a9beae61d1b4708","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":520,"wires":[]},{"id":"1b7bd266fe832562","type":"mqtt-broker","name":"mqtt_turzi-prod","broker":"mqtt.sa-east-1.turzi.cloud","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d9794f8a.bdf4a","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"6431931050307f77","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.75.0"}}]